@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #0049bf;
  --color-secondary: #e6661c;
  --color-background: #002a68;
  --color-accent: #ffb18a;

  --font-sans: "Montserrat", sans-serif;
}
