---
import { Image } from "astro:assets";

import bannerBg from "@assets/img/banner.webp";
import brandLogo from "@assets/svg/logo.svg";
---

<section
  id="inicio"
  class="relative isolate
flex min-h-[calc(100vh-4rem)] items-center justify-center overflow-hidden
text-white lg:min-h-[calc(100vh-16rem)]"
>
  <Image
    src={bannerBg}
    alt="Ingredientes naturales sobre una mesa de madera"
    class="absolute inset-0 -z-20 h-full w-full object-cover"
    loading="eager"
  />

  <div class="absolute inset-0 -z-10 bg-primary/80"></div>

  <div class="container px-4 py-16 text-center md:py-20">
    <Image
      src={brandLogo}
      alt="Monarca Camellia"
      class="mx-auto mb-10 h-auto w-full max-w-65 md:max-w-[320px]"
      loading="eager"
    />

    <p
      class="mx-auto mt-2 max-w-6xl text-2xl font-light leading-relaxed md:mt-4 md:text-3xl md:leading-[1.35]"
    >
      Donde la curiosidad se transforma en inspiración que trasciende
      <br />
      Bienvenido a Monarca Camelia, un espacio donde cada producto nace con intención,
      cuidado y significado.
    </p>
  </div>
</section>
