---
import { Image } from "astro:assets";
import logo from "@assets/svg/logoHeader.svg";
---

<footer class="bg-primary text-white">
  <div class="container mx-auto px-4 py-4">
    <div class="flex items-center justify-between">
      <div class="flex gap-4">
        <a href="wa.me/+525579868490" target="_blank">
          <svg
            width="37"
            height="38"
            viewBox="0 0 37 38"
            fill="none"
            class="size-8"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.3782 21.8353C27.306 21.7997 24.6087 20.4354 24.1296 20.2583C23.9339 20.1861 23.7244 20.1158 23.5015 20.1158C23.137 20.1158 22.8313 20.302 22.5931 20.6682C22.3235 21.0795 21.5081 22.059 21.2561 22.3511C21.2232 22.3896 21.1784 22.4357 21.1515 22.4357C21.1275 22.4357 20.7098 22.259 20.5836 22.2029C17.6902 20.9119 15.4938 17.8078 15.1927 17.2843C15.1497 17.2092 15.1474 17.175 15.1474 17.175C15.158 17.1351 15.2551 17.0349 15.3055 16.9832C15.4526 16.834 15.6117 16.6369 15.7657 16.4469C15.8388 16.3566 15.9119 16.2664 15.9836 16.1814C16.207 15.9144 16.3064 15.7073 16.422 15.4669L16.4826 15.342C16.7643 14.7673 16.5238 14.2828 16.4461 14.126C16.3822 13.9949 15.2431 11.172 15.1224 10.8751C14.831 10.1593 14.4462 9.82632 13.9116 9.82632C13.8621 9.82632 13.9116 9.82633 13.7034 9.83535C13.45 9.84628 12.0704 10.033 11.4603 10.4277C10.8133 10.8466 9.71901 12.1819 9.71901 14.5298C9.71901 16.6431 11.0246 18.6385 11.5857 19.3976C11.5995 19.4166 11.625 19.4555 11.6624 19.5111C13.8094 22.7316 16.4863 25.118 19.1993 26.2314C21.8115 27.303 23.0487 27.427 23.7517 27.427C24.0472 27.427 24.2836 27.4032 24.4926 27.3819L24.6249 27.369C25.5272 27.2868 27.5104 26.2314 27.9614 24.9442C28.3166 23.93 28.4105 22.8223 28.1741 22.42C28.0122 22.1464 27.7329 22.0091 27.38 21.8348L27.3782 21.8353Z"
              fill="white"></path>
            <path
              d="M18.8284 0C8.80789 0 0.655408 8.31013 0.655408 18.524C0.655408 21.8277 1.51612 25.0615 3.14689 27.892L0.0254841 37.3483C-0.0327909 37.5245 0.0106841 37.7197 0.137409 37.8523C0.228984 37.9482 0.353396 38 0.480584 38C0.529146 38 0.578171 37.9924 0.626271 37.9767L10.2268 34.8436C12.8543 36.2852 15.8235 37.0462 18.8284 37.0462C28.848 37.0462 37 28.7375 37 18.524C37 8.3106 28.8484 0 18.8284 0ZM18.8284 33.1878C16.0007 33.1878 13.2618 32.3494 10.9076 30.7624C10.8285 30.7092 10.7365 30.6817 10.644 30.6817C10.595 30.6817 10.546 30.6893 10.4983 30.7049L5.68879 32.2748L7.2414 27.5704C7.29181 27.4179 7.26637 27.2503 7.17387 27.1206C5.38123 24.6045 4.43357 21.632 4.43357 18.524C4.43357 10.4376 10.891 3.85843 18.8284 3.85843C26.7658 3.85843 33.2214 10.4372 33.2214 18.524C33.2214 26.6095 26.7649 33.1878 18.8284 33.1878Z"
              fill="white"></path>
          </svg>
        </a>

        <a href="mailto:atencion@monarcacamellia.com">
          <svg
            width="37"
            height="29"
            viewBox="0 0 37 29"
            fill="none"
            class="size-8"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M36.8513 4.12858C36.6848 3.28963 36.3128 2.5219 35.7933 1.88767C35.6838 1.74949 35.5693 1.62573 35.4453 1.50197C34.5248 0.577004 33.233 0 31.8217 0H5.12499C3.71372 0 2.42651 0.577004 1.50175 1.50197C1.378 1.62573 1.26355 1.74949 1.15372 1.88767C0.633939 2.52183 0.261946 3.28963 0.100016 4.12858C0.033483 4.45237 0 4.78698 0 5.12528V23.8752C0 24.5945 0.15255 25.286 0.424599 25.9104C0.676948 26.5065 1.04901 27.0458 1.50168 27.498C1.61642 27.6125 1.73036 27.7177 1.8547 27.8223C2.74127 28.5566 3.88568 29 5.12499 29H31.8217C33.0615 29 34.2109 28.5566 35.0923 27.8177C35.2163 27.7177 35.3308 27.6125 35.4453 27.498C35.8977 27.0458 36.2697 26.5065 36.5272 25.9104V25.9058C36.7992 25.2814 36.9467 24.5945 36.9467 23.8753V5.12528C36.9467 4.78698 36.9137 4.45237 36.8513 4.12858ZM3.35616 3.35616C3.81403 2.8988 4.42892 2.62192 5.12499 2.62192H31.8217C32.5178 2.62192 33.1381 2.8988 33.5906 3.35616C33.6715 3.43763 33.7478 3.52841 33.8151 3.61861L19.8225 15.8136C19.4366 16.1518 18.9599 16.3188 18.4734 16.3188C17.9918 16.3188 17.5153 16.1518 17.1243 15.8136L3.13701 3.61342C3.19892 3.52322 3.2752 3.43763 3.35616 3.35616ZM2.62192 23.8752V6.32662L12.7479 15.1603L2.62704 23.9846C2.62192 23.9511 2.62192 23.9134 2.62192 23.8752ZM31.8217 26.3776H5.12499C4.67174 26.3776 4.24765 26.2584 3.88568 26.0491L14.564 16.7432L15.5609 17.6105C16.3952 18.3354 17.4391 18.7025 18.4734 18.7025C19.5129 18.7025 20.5568 18.3354 21.391 17.6105L22.3874 16.7432L33.0615 26.0491C32.6991 26.2584 32.275 26.3776 31.8217 26.3776ZM34.3248 23.8752C34.3248 23.9134 34.3248 23.9511 34.3199 23.9846L24.1991 15.1654L34.3248 6.33131V23.8752Z"
              fill="white"></path>
          </svg>
        </a>
      </div>

      <svg
        class="size-12 lg:size-16"
        width="83"
        height="81"
        viewBox="0 0 83 81"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_79_1165)">
          <path
            d="M41.1719 38.3956C41.0483 38.3956 40.9247 38.3783 40.8061 38.3462C30.0484 35.3955 20.2371 27.0921 17.9586 24.1266C16.7402 22.4857 15.2549 19.1767 16.4288 17.2615C17.2023 16.0012 18.9125 15.586 21.5148 16.0283C30.7255 17.0119 32.8138 10.6138 32.9003 10.342C32.9028 10.3321 32.9077 10.3198 32.9127 10.3099C33.9037 7.87323 35.1986 7.34685 36.1303 7.34685C36.1476 7.34685 36.1649 7.34685 36.1798 7.34685C37.6181 7.37651 38.8513 8.65909 39.2788 9.85023C39.3505 10.0504 39.4864 10.3741 39.6594 10.7844C40.0301 11.6715 40.5985 13.0282 41.1719 14.6963C41.7452 13.0282 42.3136 11.6715 42.6843 10.7844C42.8573 10.3741 42.9908 10.0504 43.0649 9.84775C43.4949 8.65661 44.7257 7.37404 46.164 7.34438C47.1006 7.3345 48.4228 7.82381 49.4311 10.3049C49.436 10.3148 49.4385 10.3272 49.4435 10.3395C49.5275 10.6114 51.6182 17.0094 60.8512 16.0234C63.4288 15.586 65.1414 16.0012 65.9149 17.2615C67.0888 19.1767 65.6036 22.4857 64.3901 24.1217C62.1066 27.0921 52.2954 35.3955 41.5401 38.3462C41.4215 38.3783 41.2979 38.3956 41.1743 38.3956H41.1719ZM19.6663 16.6486C18.3812 16.6486 17.5286 16.9921 17.1084 17.6767C16.199 19.1594 17.4569 22.115 18.5937 23.6472C20.8204 26.546 30.4438 34.6788 41.0162 37.5801C41.115 37.6073 41.2287 37.6073 41.3276 37.5801C51.9024 34.6813 61.5234 26.546 63.755 23.6422C64.8869 22.115 66.1473 19.1594 65.2378 17.6767C64.6521 16.7203 63.2113 16.4287 60.9624 16.8117C51.3044 17.8496 48.8405 11.0389 48.6922 10.5965C48.0274 8.97046 47.1501 8.12036 46.1838 8.1426C45.1384 8.16484 44.1597 9.16569 43.8162 10.1196C43.7371 10.3395 43.5987 10.6732 43.4208 11.0933C42.9834 12.1386 42.2642 13.8586 41.592 15.969C43.0625 20.6891 44.2512 27.27 41.7601 32.9069C41.6587 33.1368 41.4289 33.285 41.1743 33.285C40.9198 33.285 40.69 33.1368 40.5886 32.9069C38.0975 27.27 39.2862 20.6891 40.7567 15.969C40.0845 13.8561 39.3653 12.1386 38.9279 11.0908C38.7524 10.6707 38.6116 10.3371 38.5325 10.1171C38.189 9.16075 37.2078 8.15989 36.1649 8.14012C35.1888 8.11541 34.3188 8.96799 33.6541 10.5941C33.5157 11.0068 31.378 16.9205 23.3387 16.9205C22.7283 16.9205 22.0882 16.8859 21.4086 16.8142C20.7586 16.7055 20.1778 16.6486 19.6663 16.6486ZM41.1719 17.3603C39.9436 21.7344 39.1553 27.3615 41.1719 32.2521C43.1885 27.3615 42.4001 21.7344 41.1719 17.3603Z"
            fill="white"></path>
          <path
            d="M40.3069 2.58986C40.3069 3.55859 40.6282 4.45318 41.1743 5.17973C41.7205 4.45318 42.0418 3.55859 42.0418 2.58986C42.0418 1.62114 41.7205 0.726546 41.1743 0C40.6282 0.726546 40.3069 1.62114 40.3069 2.58986Z"
            fill="white"></path>
          <path
            d="M36.1305 73.6555C35.2013 73.6555 33.9038 73.1316 32.9128 70.6924C32.9079 70.6826 32.9054 70.6702 32.9005 70.6578C32.8164 70.386 30.7257 63.988 21.4927 64.974C18.9151 65.4139 17.2025 64.9962 16.429 63.7359C15.2526 61.8207 16.7404 58.5117 17.9538 56.8757C20.2373 53.9053 30.0485 45.6019 40.8038 42.6512C41.0411 42.587 41.2981 42.587 41.5353 42.6512C52.2931 45.6019 62.1043 53.9053 64.3829 56.8708C65.6012 58.5117 67.0865 61.8207 65.9126 63.7359C65.1391 64.9962 63.4314 65.4114 60.8266 64.969C51.6135 63.983 49.5252 70.3835 49.4411 70.6554C49.4387 70.6653 49.4337 70.6776 49.4288 70.6875C48.4205 73.1686 47.1008 73.6703 46.1617 73.648C44.7234 73.6184 43.4902 72.3358 43.0626 71.1447C42.9909 70.9445 42.855 70.6183 42.682 70.2081C42.3113 69.3209 41.7429 67.9642 41.1696 66.2961C40.5962 67.9642 40.0278 69.3209 39.6571 70.2081C39.4866 70.6183 39.3507 70.942 39.2765 71.1422C38.8465 72.3333 37.6158 73.6159 36.1775 73.6456C36.1602 73.6456 36.1453 73.6456 36.128 73.6456L36.1305 73.6555ZM33.6542 70.4058C34.3091 72.0121 35.1667 72.8597 36.1305 72.8597C36.1404 72.8597 36.1527 72.8597 36.1651 72.8597C37.208 72.8399 38.1891 71.8366 38.5326 70.8827C38.6117 70.6628 38.7501 70.3316 38.9281 69.9091C39.3655 68.8612 40.0871 67.1437 40.7569 65.0308C39.2864 60.3107 38.0977 53.7323 40.5888 48.0929C40.6901 47.8631 40.92 47.7148 41.1745 47.7148C41.4291 47.7148 41.6589 47.8631 41.7602 48.0929C44.2513 53.7298 43.0626 60.3107 41.5922 65.0308C42.2619 67.1437 42.9835 68.8612 43.421 69.9066C43.5964 70.3267 43.7373 70.6603 43.8164 70.8803C44.1599 71.8366 45.141 72.8375 46.1839 72.8573C46.1938 72.8573 46.2062 72.8573 46.216 72.8573C47.1823 72.8573 48.0374 72.0096 48.6923 70.4033C48.8406 69.961 51.2971 63.1477 60.9378 64.1832C63.2115 64.5687 64.6522 64.2771 65.238 63.3207C66.1474 61.838 64.8895 58.8824 63.7527 57.3502C61.526 54.4514 51.9026 46.3185 41.3302 43.4173C41.2313 43.3901 41.1177 43.3901 41.0188 43.4173C30.4464 46.3161 20.823 54.4514 18.5914 57.3551C17.4595 58.8824 16.2016 61.838 17.1086 63.3207C17.6943 64.2771 19.1351 64.5687 21.384 64.1857C31.0445 63.1477 33.5059 69.9585 33.6542 70.4008V70.4058ZM41.172 48.7503C39.1554 53.6408 39.9438 59.2679 41.172 63.642C42.4003 59.2679 43.1887 53.6408 41.172 48.7503Z"
            fill="white"></path>
          <path
            d="M42.0396 78.4126C42.0396 77.4439 41.7183 76.5493 41.1721 75.8228C40.626 76.5493 40.3047 77.4439 40.3047 78.4126C40.3047 79.3813 40.626 80.2759 41.1721 81.0025C41.7183 80.2759 42.0396 79.3813 42.0396 78.4126Z"
            fill="white"></path>
          <path
            d="M19.437 65.1501C18.7648 65.1501 18.1371 65.0142 17.6181 64.6831C16.3899 63.9022 15.992 62.244 16.4344 59.7529C17.4451 50.7774 10.8837 48.7411 10.6045 48.657C10.5946 48.6546 10.5822 48.6496 10.5723 48.6472C8.0318 47.6636 7.52023 46.3662 7.53753 45.4518C7.56471 44.0383 8.87947 42.8323 10.1028 42.4122C10.3104 42.3405 10.6415 42.2096 11.0617 42.0415C11.9637 41.6807 13.3427 41.1321 15.0356 40.5761C13.3402 40.02 11.9637 39.4714 11.0617 39.1106C10.6415 38.9426 10.3079 38.8091 10.1028 38.7399C8.87947 38.3198 7.56471 37.1139 7.53753 35.7003C7.52023 34.7859 8.0318 33.4885 10.5723 32.505C10.5822 32.5 10.5946 32.4976 10.6045 32.4951C10.8837 32.4136 17.4451 30.3772 16.4294 21.3745C15.9895 18.9082 16.3874 17.25 17.6157 16.4691C19.5532 15.2384 22.9908 16.6964 24.701 17.9073C27.7457 20.1364 36.2545 29.7125 39.2794 40.2128C39.314 40.3314 39.3313 40.455 39.3313 40.5785C39.3313 40.7021 39.314 40.8257 39.2794 40.9418C36.2545 51.4446 27.7457 61.0207 24.7059 63.2448C23.4505 64.132 21.2708 65.1526 19.4346 65.1526L19.437 65.1501ZM10.8467 47.9008C11.2866 48.0417 18.2829 50.4388 17.2202 59.8666C16.8347 62.0364 17.114 63.4227 18.0432 64.0134C19.5507 64.9697 22.635 63.7341 24.2438 62.5973C27.2119 60.4226 35.5452 51.0344 38.5158 40.7194C38.5282 40.6725 38.5356 40.623 38.5356 40.5736C38.5356 40.5242 38.5282 40.4748 38.5158 40.4278C35.5452 30.1128 27.2119 20.7246 24.2389 18.5474C22.635 17.4131 19.5482 16.1775 18.0432 17.1363C17.1115 17.7269 16.8347 19.1133 17.2153 21.2584C18.2804 30.7109 11.2866 33.108 10.8467 33.2488C9.18344 33.8963 8.31353 34.7365 8.33083 35.683C8.3506 36.6962 9.37621 37.6501 10.3573 37.9862C10.5822 38.0628 10.9233 38.1987 11.3533 38.3717C12.4283 38.7992 14.1904 39.5036 16.3602 40.1584C21.1942 38.7226 27.9335 37.5612 33.7066 39.9904C33.9413 40.0892 34.0946 40.3166 34.0946 40.5736C34.0946 40.8306 33.9413 41.058 33.7066 41.1568C27.9335 43.5861 21.1942 42.4246 16.3602 40.9888C14.1904 41.6461 12.4283 42.348 11.3533 42.778C10.9233 42.9509 10.5822 43.0844 10.3573 43.1635C9.37621 43.4996 8.3506 44.4535 8.33083 45.4667C8.31353 46.4132 9.18097 47.2558 10.8467 47.9008ZM17.8208 40.5761C22.2939 41.7672 28.0324 42.5284 33.0294 40.5761C28.0324 38.6263 22.2939 39.3849 17.8208 40.5761Z"
            fill="white"></path>
          <path
            d="M2.65422 41.4213C3.64523 41.4213 4.5621 41.1074 5.30844 40.5761C4.56457 40.0448 3.6477 39.731 2.65422 39.731C1.66074 39.731 0.746345 40.0448 0 40.5761C0.743874 41.1074 1.66074 41.4213 2.65422 41.4213Z"
            fill="white"></path>
          <path
            d="M63.5628 65.1501C61.7266 65.1501 59.5493 64.132 58.2964 63.2473C55.2517 61.0182 46.7428 51.4421 43.7179 40.9418C43.6833 40.8232 43.666 40.7021 43.666 40.5761C43.666 40.45 43.6833 40.3289 43.7179 40.2103C46.7428 29.71 55.2517 20.1314 58.2914 17.9073C60.009 16.6939 63.4442 15.2359 65.3842 16.4666C66.6124 17.2475 67.0103 18.9057 66.5679 21.3967C65.5572 30.3748 72.1186 32.4086 72.3978 32.4926C72.4077 32.4951 72.4201 32.5 72.43 32.5025C74.9705 33.4861 75.4821 34.7835 75.4648 35.6978C75.4376 37.1114 74.1228 38.3173 72.8995 38.7374C72.6919 38.8091 72.3608 38.9401 71.9406 39.1081C71.0386 39.4689 69.6621 40.0176 67.9667 40.5736C69.6621 41.1296 71.0386 41.6782 71.9406 42.039C72.3608 42.2071 72.6944 42.3381 72.8995 42.4097C74.1228 42.8298 75.4351 44.0358 75.4648 45.4494C75.4821 46.3637 74.9705 47.6611 72.43 48.6447C72.4201 48.6496 72.4077 48.6521 72.3978 48.6546C72.1186 48.7361 65.5572 50.7724 66.5729 59.7752C67.0128 62.2415 66.6149 63.8997 65.3842 64.6806C64.8652 65.0093 64.2375 65.1476 63.5653 65.1476L63.5628 65.1501ZM63.5702 16.7953C61.991 16.7953 59.962 17.7022 58.756 18.5548C55.7879 20.727 47.4546 30.1177 44.484 40.4327C44.4692 40.4797 44.4643 40.5291 44.4643 40.5785C44.4643 40.628 44.4717 40.6774 44.484 40.7219C47.4546 51.0368 55.7879 60.4251 58.7634 62.6047C60.3673 63.739 63.4516 64.9747 64.9591 64.0158C65.8883 63.4252 66.1676 62.0388 65.787 59.8938C64.7194 50.4413 71.7157 48.0442 72.1556 47.9033C73.8189 47.2558 74.6888 46.4156 74.6715 45.4691C74.6517 44.4559 73.6261 43.502 72.645 43.1659C72.4201 43.0893 72.079 42.9534 71.649 42.7804C70.574 42.3529 68.8094 41.6486 66.6421 40.9912C61.8081 42.427 55.0688 43.5885 49.2957 41.1593C49.061 41.0604 48.9077 40.8331 48.9077 40.5785C48.9077 40.324 49.061 40.0942 49.2957 39.9953C55.0688 37.5661 61.8081 38.7276 66.6396 40.1634C68.8094 39.5085 70.5715 38.8042 71.6465 38.3766C72.0766 38.2037 72.4176 38.0677 72.6425 37.9911C73.6236 37.655 74.6492 36.7011 74.669 35.6879C74.6863 34.7414 73.8188 33.8988 72.1532 33.2538C71.7108 33.1129 64.7169 30.7158 65.7796 21.288C66.1651 19.1182 65.8858 17.7319 64.9566 17.1412C64.5785 16.9015 64.0991 16.7977 63.5702 16.7977V16.7953ZM49.9704 40.5761C54.9675 42.5259 60.7059 41.7672 65.179 40.5761C60.7059 39.3849 54.9675 38.6238 49.9704 40.5761Z"
            fill="white"></path>
          <path
            d="M80.3456 39.7285C79.3546 39.7285 78.4378 40.0424 77.6914 40.5737C78.4353 41.105 79.3521 41.4188 80.3456 41.4188C81.3391 41.4188 82.2535 41.105 82.9999 40.5737C82.256 40.0424 81.3391 39.7285 80.3456 39.7285Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_79_1165">
            <rect width="83" height="81.0025" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>

      <div></div>
    </div>
  </div>
</footer>
